body {
  background-color: #f0ead6;
}

.wrapper {
  width: 100%;
}

.flex-group {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
  margin: 10px;
  justify-content: center;
}

.flex-item-double {
  flex: 2;
  margin: 10px;
  justify-content: center;
}

img {
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intention-img {
  height: 400px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.foto-img {
  height: 400px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: grey;
  margin-top: -50px;
  padding-top: 4px;
  margin-bottom: 50px;
  height: 175px;
  font-size: 30px;
}

.header, .intro, .about, .portfolio, .contact, footer, #menu, h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  margin-top: -65px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 200px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 50%;
}

.intro {
  font-size: 20px
}

.about {
  background-color: white;
  margin-top: -22px;
  margin-bottom: -5px;
  font-size: 20px;
}

.about-kev {
  padding-top: 50px;
}

.portfolio {
  font-family: courier;
  font-size: 20px;
}

.contact {
  list-style-position: inside;
  font-size: 25px;
  background-color: white;
  width: 100vw;
  margin-left: -17.5%;
}

.contact-kev {
  margin-top: 150px;
}

a:link {
  color: blue;
}

a:hover {
  color: #FF00F0;
}

a:active {
  color: #0000F0;
}

header {
  background-color: grey;;
  /* margin-bottom: 40px; */
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  list-style: none;
}

.validate {
  width:400px;
  padding:40px;
}

.form-field {
  margin-bottom: 40px;
}

form {
  border: 2px solid red;
  width: 50%;
}

#message-input {
  height: 100px;
}

#menu {
list-style-position: inside;
}

@media all and (min-width: 850px) {
  .wrapper {
    width: 75%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
