body {
  background-color: white;
}

.wrapper {
  width: 100%;
}

.flex-group {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
  margin: 10px;
  justify-content: center;
}

.flex-item-double {
  flex: 2;
  margin: 10px;
  justify-content: center;
}

img {
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  margin-top: 20%;
}

.intention-img {
  height: 400px;
  width: 300px;
  display: block;
  margin-left: auto;
}

.intention, .beyonce {
  margin-right: 10%;
}

.foto-img {
  height: 400px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------ header  ------ */

.header {
  background-color: grey;
  margin-top: -40px;
  padding-top: 4px;
  margin-bottom: 50px;
  height: 175px;
  font-size: 30px;
  width: 100vw;
}

header {
  background-color: #78866B;
  /* margin-bottom: 40px; */
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  list-style: none;
}

.header, .intro, .about, .portfolio, .contact, footer, #menu, h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  margin-top: -65px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 50%;
}
/* ------ home page  ------ */
.intro {
  font-size: 23px;
  font-family: tahoma;
  background-color: white;
  margin-bottom: 1%;
  margin-left: 8%;
  padding-bottom: 5%;
  text-align:left;
}

.intro-heading {
  margin-top: 25%;
  text-align: center;
  font-size: 44px;
}

.background {
  margin-bottom: 5%;

}
/* ------ about page  ------ */
.about {
  background-color: #dcdcdc;
  height: 100vh;
  margin-top: -22px;
  margin-bottom: -5px;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
  text-align:left;
}

.about-kev {
  font-color: #2F4F4F;
  padding-top: 5px;
  font-size: 45px;
  margin-bottom: -1%;
  text-align: center;
}

/* ------ portfolio page  ------ */

.portfolio {
  font-family: courier;
  font-size: 20px;
  margin-right: 5%;
}

.portfolio-title {
  font-size: 44px;
}

.foto {
  margin-left: 5%;
}

/* ------ contact page  ------ */

.contact {
  list-style-position: inside;
  font-size: 25px;
  background-color: white;
  width: 100vw;
  margin-left: -17.5%;
  margin-top: -2%;
}

.contact-kev {
  margin-top: 4%;
}

.validate {
  width:400px;
  padding:40px;
}

.form-field {
  margin-bottom: 40px;
}

form {
  padding-right: 8px;
  /* Fixed small sizing issue on the right */
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

footer {
  margin-top: 1%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* ------ pseudo classes  ------ */

a:link {
  color: blue;
}

a:hover {
  color: #FF00F0;
}

a:active {
  color: #0000F0;
}

/* ------ menus  ------ */

#message-input {
  height: 100px;
}

#menu {
list-style-position: inside;
width: 10%;
align-items: center;
text-align: center;
}

#menu, #about-menu, #contact-menu, #portfolio-menu {
list-style-position: inside;
width: 10%;
align-items: center;
text-align: center;
}

/* ------ hides page  ------ */

.hidden {
  display: none;
}

/* ------ media queries  ------ */

@media all and (min-width: 850px) {
  .wrapper {
    width: 75%;
    margin: auto;
  }

  .flex-group {
    flex-direction: row;
  }
}

.contact {
  flex-direction: row;
  background-color: #dcdcdc;
}

.contact-links{
  margin-right: 65%;
}

iframe {
  margin-left: 5%;
  width: 55%;
  height: 60vh;
}
